    <div class="row">
        <div class="col">
            <img src="https://via.placeholder.com/350x150" alt="">
            <p class="description"></p>
            <button type="button" class="btn btn-info" onclick="handleClick('articles')">Voir +</button>
            <button type="button" class="btn btn-success" ><img src="./images/pen.png" alt="crayon"></button>
            <button type="button" class="btn btn-danger"><img src="./images/poubelle.png" alt="crayon"></button>
            <div id="res"></div>
        </div>
    </div>
